<div class="container">
  <div class="card-category" style="background-image: linear-gradient(#181D31);">
    <h1>Edit Transportation</h1>
  </div>
  <br>
  <%= render 'form', transportation: @transportation %>
</div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <i class="fas fa-heart"></i>
    </div>
  </div>
