<h1>Info of Transportation</h1>

<% @transportations.each do |transportation| %>
  <p>Brand: <%= transportation.brand %></p>
  <p>Model: <%= transportation.brand_model %></p>
  <p>Price: <%= transportation.price %></p>
<% end %>

<%# <%= link_to "Back to list", home_path %>
