    <!DOCTYPE html>
    <html lang="pt-br">
      <head>
        <title>Move ON</title>
        <meta charset="utf-8">
      </head>
      <body>
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1604156788856-2ce5f2171cce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
          <div class="container">
            <h1>Move ON </h1>
            <p>Find your dream transportation.</p>
            <%= link_to transportations_path do %>
            <a class="btn btn-flat" href="transportations">Find a transportation</a>
            <% end %>
          </div>
        </div>
      </body>
    </html>
