<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MOVE ON</title>
</head>

<body>
<section class="navbar">
<div>
<h1 class="logo">MOVE ON</h1>
</div>

<div>
<ul>
<li><a href="home">home</a></li>
<li><a href="about">about</a></li>
<li><a href="contact"></a>contact</li>
</ul>
</div>
</section>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://storage.googleapis.com/pod_public/1300/119150.jpg);">
  <div class="container">
    <h1>MOVE <strong>ON</strong>!</h1>
    <p>Entre na sua zona de conforto.</p>
    <a class="btn btn-flat" href="#">VEJA TUDO!</a>
  </div>
</div>

<section class="cards-container">
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://s2.glbimg.com/Ad5M3CqkAldcKFK15k1zKDgJCoA=/620x350/e.glbimg.com/og/ed/f/original/2022/10/07/tpng.jpg)">
  aviões
</div>

  <div><img src="" alt=""></div>
  <div><img src="" alt=""></div>

</div>
</section>
</body>
</html>
