.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #404258;
  transition: background 0.3s ease;
  margin-top: 25px;
}

.btn-flat:hover {
  background: #50577A;
  color: white;
}
