.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // width: 350px;
  // height: 300px;
  width: auto;
  height: auto;
  border-radius: 5px
}

.grid-container {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  justify-content: space-evenly;
  padding-top: 15px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
}

div.container {
  text-align: left;
  padding: 10px 20px;
  margin: 0, 0, 0, 0;
}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-category {
  background-position: center;
  background-color: #181D31;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category h1 {
  font-size: 34px;
  font-weight: bold;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}
